<!--The content below is only a placeholder and can be replaced.-->
<header id="header" class="row"></header>
<div id="color-fondo"></div>

<div id="contenedor" class="row background-default contenedor">
    <img id="logo" class="responsive-img" src="assets/Images/Logo San José en colores/amarillo.png" alt="">

    <!-- botones e imagenes casas -->
    <div id="layerVerde">
        <button id="btnVerde" class="manito boton-casas"></button>
        <img src="assets/Images/ElementodVerde/verde.JPG" id="imgVerde" class="imagen-naranja hide">
        <!--img src="Images/boton-02.png" alt="" class=""-->
    </div>

    <div id="layerRojo">
        <button id="btnRojo" class="manito  boton-casas"></button>
        <img src="assets/Images/rojo2.PNG" id="imgRojo" class="imagen-naranja hide">
        <!--img src="Images/boton-04.png" alt="" class="hide"-->
    </div>
    <div id="layerAzul">
        <button id="btnAzul" class="manito boton-casas"></button>
        <img src="assets/Images/ElementoAzul/Azul.JPG" id="imgAzul" class="imagen-naranja hide">
        <!-- imagen en tamaño miniatura  -->
        <div id="Galeria">
            <img src="assets/Images/ElementoAzul/1.jpg" id="galeria_1" class="imagen-naranja hide">
        </div>
    </div>
    <div>
        <button id="btnRosa" class="manito modal-trigger boton-casas" data-target="modal1"></button>
        <!--img src="Images/boton-05.png" alt="" class="hide"-->
    </div>
    <div id="layerNaranja">
        <button id="btnNaranja" class="manito boton-casas"></button>
        <img src="assets/Images/Elementos%20%20Qué%20proponemos/elemento-01.png" id="imgNaranja" class="imagen-naranja hide">
        <a id="lnkSgte" onclick="lnkSgteClick(event)" class="hide manito">Siguiente><br>1/4</a>
        <!--img src="Images/boton-01.png" id="imgNaranja2" class="imagen-naranja hide"-->
    </div>


    <!-- botones redes sociales -->
    <div id="botones" class="botones">
        <input type=image src="assets/Images/Botones/Logos%20redes-01.png" id="btnFacebook" class="boton">
        <br>
        <input type=image src="assets/Images/Botones/Logos%20redes-02.png" id="btnInstagram" class="boton">
        <br>
        <input type=image src="assets/Images/Botones/Logos%20redes-03.png" id="btnYoutube" class="boton">
    </div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal col m3 push-m4">
        <div class="modal-content">
            <img src="assets/Images/Otros/boton-04.png" class="responsive-img" width="300" height="300">
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
    </div>

    <!-- Preloader -->
    <div id="preloader" class="preloader-wrapper active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>


</div>


<footer>
    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img class="responsive-img center-align" src="assets/Images/Logos%20footer/udecaldas.png">
            </div>
            <div class="col s2">
                <img class="responsive-img center-align" src="assets/Images/Logos%20footer/vicerrectoria.png">
            </div>
            <div class="col s2">
                <img class="responsive-img center-align" src="assets/Images/Logos%20footer/rutasdecaldas.png">
            </div>
            <div class="col s2">
                <img class="responsive-img center-align" src="assets/Images/Logos%20footer/dicovi.png">
            </div>
            <div class="col s2">
                <img class="responsive-img center-align" src="assets/Images/Logos%20footer/semilleroespacio.png">
            </div>
            <div class="col s2">
                <img class="responsive-img center-align" src="assets/Images/Logos%20footer/gitir.png">
            </div>
        </div>
    </div>
</footer>